---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout>
	<main>
		<h2>Blog</h2>
		<p>Sorry... There are no entries here yet 😅. </p>
	</main>
</MainLayout>
<style>
	main {
		display: flex;
		flex-direction: column;
		/*border: 2px solid blue;*/
		max-height: 100%;
		overflow-y: hidden;
		font-style: normal;
		gap: 1em;
		margin: 1em;
	}

	h2 {
		font-size: 42px;
		margin-top: 0;
		margin-bottom: 0;
	}

</style>
