---
import MainLayout from '../layouts/MainLayout.astro';
import data from '../data.en.json';
import InteractiveListWithDetail from "../components/InteractiveListWithDetail";
import type { ListWithDetailRow, Experience } from "../types";

const rowsInfo: Experience[] = data.experience;
const listElements: ListWithDetailRow[] = rowsInfo.map((e: Experience) => (
	{
		primary: e.role,
		secondary: e.company,
		startDate: e.startDate,
		endDate: e.endDate,
		detail: e.description,
		image: e.image
	} as ListWithDetailRow
));
---

<MainLayout>
	<main>
		<h2>Experience</h2>
		<!-- <ListWithDetail listElements={listElements} primaryLabel="Role / Company"/> -->
		<InteractiveListWithDetail
			client:load
			listElements={listElements}
			primaryLabel="Role / Company"
		/>
	</main>
</MainLayout>
<style>
	main {
		display: flex;
		flex-direction: column;
		/*border: 2px solid blue;*/
		max-height: 100%;
		overflow-y: hidden;
		font-style: normal;
		gap: 1em;
	}

	h2 {
		font-size: 42px;
		margin: 0 0 10px 0.5em;
	}
</style>
