---
import MainLayout from '../layouts/MainLayout.astro';
import data from '../data.en.json';
import InteractiveListWithDetail from "../components/InteractiveListWithDetail";
import type { ListWithDetailRow, Project } from "../types";

const rowsInfo: Project[] = data.projects;
const listElements: ListWithDetailRow[] = rowsInfo.map((p: Project) => (
	{
		primary: p.name,
		secondary: p.secondary,
		startDate: p.startDate,
		endDate: p.endDate,
		detail: p.description,
		image: p.image,
		links: p.links
	} as ListWithDetailRow
));
---

<MainLayout>
	<main>
		<h2>Projects</h2>
		<InteractiveListWithDetail
			client:load
			listElements={listElements}
			primaryLabel="Name"
		/>
	</main>
</MainLayout>
<style>
	main {
		display: flex;
		flex-direction: column;
		/*border: 2px solid blue;*/
		max-height: 100%;
		overflow-y: hidden;
		font-style: normal;
		gap: 1em;
	}

	h2 {
		font-size: 42px;
		margin: 0 0 10px 0.5em;
	}
</style>