---
import MainLayout from '../layouts/MainLayout.astro';
import data from '../data.en.json';
import Table from '../components/Table.astro'

const headers: string[] = ["#", "Name", "Start date", "Finish date"];
const rowKeys: string[] = ["name", "startDate", "endDate"];
const rowsInfo: object[] = data.projects;
---

<MainLayout>
	<main>
		<h2>Projects</h2>
		<Table
			headers={headers}
			rowKeys={rowKeys}
			rowsInfo={rowsInfo}
		/>
	</main>
</MainLayout>
<style>
	main {
		font-style: normal;
		display: flex;
		flex: 1;
		flex-direction: column;
		gap: 1em;
	}
	table {
		/*background-color: lightpink;*/
		width: 100%;
		border-collapse: collapse;
	}
	thead {
		border-bottom: 1px solid rgb(var(--light-gray));
	}
	th, td {
		padding: 1em;
		text-align: left;
	}
	.row:hover {
		background-color: rgb(var(--gray));
	}
</style>
