---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/astro-portfolio/favicon.svg" />
		<link href="https://fonts.googleapis.com/css2?family=Material+Icons"
			  rel="stylesheet" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<script>
	const isDev = ['localhost', '127.0.0.1'].some(devIP =>
		window.location.hostname.includes(devIP)
	);
	if (!isDev) {
		console.log = () => {};
	}
</script>
<style is:global>
	:root {
		--darker-gray: 18 18 18;
		--dark-gray: 35 35 35;
		--gray: 80, 80, 90;
		--light-gray: 180, 180, 180;
		--ligher-gray: 230, 230, 230;

		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #000000;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
