---
import HTMLLayout from '../layouts/HTMLLayout.astro';
---

<HTMLLayout title="Spotifolio">
    <main>
        <div class="left-panel">
            <nav class="rounded">
                <ul class="nav-main-list rounded">
                    <li class="nav-main-list-item"><a href="index.html">[ ] Experience</a></li>
                    <li class="nav-main-list-item"><a href="education.html">[ ] Education</a></li>
                    <li class="nav-main-list-item"><a href="projects.html">[ ] Projects</a></li>
                    <li class="nav-main-list-item"><a href="about-me.html">[ ] About me</a></li>
                </ul>
            </nav>
            <div class=" skills-container rounded">
                <ul>
                    <li>Skill 1</li>
                    <li>Skill 2</li>
                    <li>Skill 3</li>
                    <li>Skill 4</li>
                    <li>Skill 5</li>
                    <li>Skill 6</li>
                </ul>
            </div>
        </div>
        <div class="right-panel" style="border-radius: 1em">
            <header>
                <div class="header-image" />
                <div class="header-info">
                    <h1 style="flex: 1">Luciano Flores</h1>
                    <span style="align-self: flex-end">Fullstack developer / Software engineer</span>
                </div>
            </header>
            <div class="main-content" style="flex-direction: row">
                <slot />
            </div>
        </div>
    </main>
</HTMLLayout>

<style>
    main {
        /*background-color: white;*/
        height: 98vh;
        display: flex;
        flex-direction: row;
        gap: 1em;
    }
    .rounded {
        border-radius: 1em;
    }
    .spacing {
        padding: 1em;
    }
    .left-panel {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 1em;
        justify-content: space-between;
        color: rgb(var(--light-gray));
    }
    nav {
        background-color: rgb(var(--dark-gray));
    }
    .nav-main-list {
        list-style: none; /* Remove bullets from the list */
    }

    .nav-main-list-item {
        color: rgb(var(--light-gray));
    }

    .nav-main-list-item a {
        text-decoration: none; /* Remove underline */
        color: inherit; /* Inherit text color from the parent list item */
    }

    .nav-main-list-item:hover {
        color: rgb(var(--ligher-gray)); /* Change the text color on hover to your desired accent color */
    }

    .skills-container {
        flex: 1;
        background-color: rgb(var(--dark-gray));
    }
    .right-panel {
        display: flex;
        flex-direction: column;
        flex: 4;
        background-color: rgb(var(--dark-gray));
        color: white;
        overflow: clip;
    }
    header {
        /*background-color: lightpink;*/
        display: flex;
        flex-direction: row;
        flex: 1;
        padding: 2em;
        gap: 1em;
    }
    .header-image {
        background-color: orange;
        height: 200px;
        width: 200px;
        margin-right: 1em;
    }
    .header-info {
        /*background-color: blueviolet;*/
        flex: 1;
        flex-direction: column;
    }
    h1 {
        font-size: 64px;
    }
    .main-content {
        flex: 3;
        padding: 2em;
    }

</style>
