---
import HTMLLayout from '../layouts/HTMLLayout.astro';
import SkillsList from '../components/SkillsList.astro';
import data from "../data.en.json";
import { profilePhotoURL } from "../constants";

interface Skill {
    name: string;
    type: string;
    keywords: string[];
}
const skills: Skill[] = data.skills;
const photoURL: string = profilePhotoURL;
---

<HTMLLayout title="Spotifolio">
    <main>
        <div class="left-panel">
            <nav class="rounded">
                <ul class="nav-main-list rounded">
                    <li class="nav-main-list-item">
                        <a href="/astro-portfolio/index.html">
                            <span class="material-icons">work_history</span>
                            Experience
                        </a>
                    </li>
                    <li class="nav-main-list-item">
                        <a href="/astro-portfolio/education">
                            <span class="material-icons">school</span>
                            Education
                        </a>
                    </li>
                    <li class="nav-main-list-item">
                        <a href="/astro-portfolio/projects">
                            <span class="material-icons">dataset</span>
                            Projects
                        </a>
                    </li>
                    <li class="nav-main-list-item">
                        <a href="/astro-portfolio/blog">
                            <span class="material-icons">rss_feed</span>
                            Blog
                        </a>
                    </li>
                    <li class="nav-main-list-item">
                        <a href="/astro-portfolio/about-me">
                            <span class="material-icons">person</span>
                            About me
                        </a>
                    </li>
                </ul>
            </nav>
            <div class=" skills-container rounded">
                <SkillsList skills={skills} />
            </div>
        </div>
        <div class="right-panel" style="border-radius: 1em;">
            <header>
                <img class="header-image" src={photoURL} />
                <div class="header-info">
                    <h1>Luciano Flores</h1>
                    <h3 style="font-size: 24px">Fullstack developer / Software engineer</h3>
                </div>
            </header>
            <div class="main-content">
                <slot />
            </div>
        </div>
    </main>
</HTMLLayout>

<style>
    main {
        height: 98vh;
        display: flex;
        flex-direction: row;
        gap: 1em;
        /*overflow: hidden;*/
    }

    .rounded {
        border-radius: 1em;
    }

    /*************************************************** Left panel ***************************************************/
    .left-panel {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 1em;
        justify-content: space-between;
        color: rgb(var(--light-gray));
    }
    nav {
        background-color: rgb(var(--darker-gray));
        padding: 0.5em;
    }
    .nav-main-list {
        list-style: none; /* Remove bullets from the list */
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    .nav-main-list-item {
        color: rgb(var(--light-gray));
    }

    .nav-main-list-item a {
        text-decoration: none; /* Remove underline */
        font-size: 20px;
        color: inherit; /* Inherit text color from the parent list item */
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    .nav-main-list-item:hover {
        color: rgb(var(--ligher-gray)); /* Change the text color on hover to your desired accent color */
    }

    .skills-container {
        flex: 1;
        background-color: rgb(var(--darker-gray));
    }

    /*************************************************** Right panel **************************************************/
    .right-panel {
        display: flex;
        flex-direction: column;
        flex: 4;
        background-image: linear-gradient(to bottom, orange, rgb(var(--darker-gray)) 50%, rgb(var(--darker-gray)));
        color: white;
        max-height: 100%;
    }

    header {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 2em;
        gap: 2em;
    }

    .header-image {
        background-color: orange;
        /*background-color: lightgrey;*/
        height: 200px;
        width: 200px;
        object-fit: cover;
        -webkit-filter: opacity(80%);
        /*filter: opacity(80%);*/
    }
    .header-info {
        flex: 1;
        flex-direction: column;
    }
    h1 {
        font-size: 64px;
        margin-top: 0;
        margin-bottom: 0.25em;
    }

    .main-content {
        flex: 1;
        padding: 1em;
        background-color: #12121255;
        overflow: hidden;
    }

    @media (max-width: 768px) {
        main {
            flex-direction: column;
        }

        .left-panel, .right-panel {
            flex: none; /* Reset any flex settings */
            flex-direction: column;
            width: 100%; /* Make each panel full width */
            order: 0; /* Reset order to ensure left panel is on top */
        }

        .right-panel {
            /*order: 1; Set the right panel to be below the left panel */
        }

        .nav-main-list {
            flex-direction: row;
            flex-wrap: wrap
        }

        .skills-container {
            display: none;
        }

        header {
            flex-direction: column;
            align-items: center;
            gap: 0.5em;
        }

        .header-image {
            align-self: center;
        }
        .header-info {
            text-align: center;
        }
    }
</style>
